<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltop.app.menu5.mapper.M5Sub5Mapper">

  <select id="selectGroupTotalCount" resultType="int">
    SELECT	COUNT(*)
      FROM  tbl_agency_group tag
      INNER JOIN tbl_agency tac ON tac.agency_no = tag.agency_no
      LEFT OUTER JOIN tbl_member tm ON tm.userid = tag.group_adm_id
     WHERE 1=1
     <if test="searchAgencyName != null and searchAgencyName != ''">
       AND tac.agency_name LIKE CONCAT('%',#{searchAgencyName},'%')
     </if>
     <if test="searchGroupName != null and searchGroupName != ''">
       AND tag.group_name LIKE CONCAT('%',#{searchGroupName},'%')
     </if>
     <if test="searchAdmName != null and searchAdmName != ''">
      AND tm.username LIKE CONCAT('%',#{searchAdmName},'%')
     </if>
  </select>

  <select id="selectGroupList" resultType="com.ltop.app.menu5.domain.M5Sub5VO">
    <![CDATA[
      SELECT R.*
      FROM
      (
    ]]>
	      SELECT tag.group_seq   AS groupSeq
			  , tag.agency_no    AS agencyNo
			  , tag.group_name   AS groupName
			  , tag.description  AS description
			  , tag.group_adm_id AS groupAdmId
			  , tag.use_yn       AS useYn
			  , tag.reg_date     AS regDate
	          , tac.agency_name  AS agencyName
	          , tm.username      AS groupAdmName
	          , ( SELECT COUNT(*)  FROM tbl_mat_info
                   WHERE agency_no = tag.agency_no
                 ) AS agencyMatCnt
              , ( SELECT COUNT(*)  FROM tbl_member
                   WHERE agency_no = tag.agency_no
                ) AS agencyUserCnt
	      FROM  tbl_agency_group tag
	      INNER JOIN tbl_agency tac ON tac.agency_no = tag.agency_no
	      LEFT OUTER JOIN tbl_member tm ON tm.userid = tag.group_adm_id
	     WHERE 1=1
	     <if test="m5Sub5VO.searchAgencyName != null and m5Sub5VO.searchAgencyName != ''">
	       AND tac.agency_name LIKE CONCAT('%',#{m5Sub5VO.searchAgencyName},'%')
	     </if>
	     <if test="m5Sub5VO.searchGroupName != null and m5Sub5VO.searchGroupName != ''">
	       AND tag.group_name LIKE CONCAT('%',#{m5Sub5VO.searchGroupName},'%')
	     </if>
	     <if test="m5Sub5VO.searchAdmName != null and m5Sub5VO.searchAdmName != ''">
	      AND tm.username LIKE CONCAT('%',#{m5Sub5VO.searchAdmName},'%')
	     </if>

    <![CDATA[
      ) R
      ORDER BY R.agencyNo DESC
      LIMIT #{pageVO.amount} OFFSET #{pageVO.startNum}
    ]]>
  </select>

  <select id="selectAgencyInfo" resultType="com.ltop.app.menu5.domain.M5Sub5VO">
    SELECT agency_no  AS agencyNo
      , agency_name AS agencyName
      , description
      , adm_id      AS admId
      , use_yn      AS useYn
      , reg_date    AS regDate
     FROM tbl_agency
    WHERE agency_no = #{agencyNo}
  </select>

  <insert id="insertAgency">
    <selectKey keyProperty="agencyNo" order="BEFORE" resultType="Integer">
      SELECT MAX(agency_no)+1 FROM tbl_agency
    </selectKey>

    INSERT INTO tbl_agency
    (
      agency_no
      , agency_name
      , description
      , adm_id
      , use_yn
      , reg_date
    )
    VALUES
    (
      IFNULL(#{agencyNo},1)
      , #{agencyName}
      , #{description}
      , #{admId}
      , #{useYn}
      , NOW()
    )
  </insert>

  <update id="updateAgency">
    UPDATE	tbl_agency
       SET agency_name = #{agencyName}
        , description = #{description}
        , adm_id = #{admId}
        , use_yn = #{useYn}
    WHERE	agency_no = #{agencyNo}
  </update>

  <delete id="deleteAgency">
    DELETE FROM tbl_agency WHERE agency_no = #{agencyNo}
  </delete>

  <select id="selectAgencyMathList" resultType="com.ltop.app.menu5.domain.M5Sub5VO">
    SELECT	agency_no
        , mat_id
        , description
        , use_yn
        , date_format(reg_date, '%Y-%m-%d') AS reg_date
        , userid AS userId
    FROM	tbl_agency_math
    WHERE	agency_no = #{agencyNo}
  </select>

  <select id="selectAgencyMathInfo" resultType="com.ltop.app.menu5.domain.M5Sub5VO">
    SELECT	agency_no
        , mat_id
        , description
        , use_yn
        , date_format(reg_date, '%Y-%m-%d') AS reg_date
        , userid AS userId
    FROM	tbl_agency_math
    WHERE	agency_no = #{agencyNo}
        AND mat_id = #{matId}
  </select>

  <insert id="insertAgencyMath">
    INSERT INTO tbl_agency_math
    (
      agency_no
      , mat_id
      , description
      , use_yn
      , reg_date
      , userid
    )
    VALUES
    (
      #{agencyNo}
      , #{matId}
      , #{description}
      , #{useYn}
      , NOW()
      , #{userId}
    )
  </insert>

  <update id="updateAgencyMath">
    UPDATE	tbl_agency_math
    SET		description = #{description}
        , use_yn = #{useYn}
        , userid = #{userId}
    WHERE	agency_no = #{agencyNo}
        AND mat_id = #{matId}
  </update>

  <delete id="deleteAgencyMath">
    DELETE FROM tbl_agency_math
    WHERE agency_no = #{agencyNo}

    <if test="matId != null and matId != ''">
    AND mat_id = #{matId}
    </if>
  </delete>

</mapper>
