<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltop.app.menu5.mapper.M5Sub1Mapper">

    <select id="selectUserTotalCount" resultType="int">
        SELECT COUNT(*)
          FROM tbl_member mem
          LEFT OUTER JOIN tbl_member_auth auth ON auth.userid = mem.userid
                                              AND auth.auth = 'ROLE_USER'
          WHERE 1=1
            <![CDATA[
              AND (mem.userid <> 'admin' OR auth.auth <> 'ROLE_ADMIN')
            ]]>
            <if test="searchUserName != null and searchUserName != ''">
              AND mem.username LIKE CONCAT('%',#{searchUserName},'%')
            </if>
            <if test="searchMatId != null and searchMatId != ''">
              AND mem.mat_id LIKE CONCAT('%',#{searchMatId},'%')
            </if>
            <if test="searchEnabled != null and searchEnabled != ''">
              AND mem.enabled = #{searchEnabled}
            </if>
            <if test="searchAgency != null and searchAgency != ''">
              AND mem.agency_no = #{searchAgency}
            </if>
    </select>

    <select id="selectUserList" resultType="com.ltop.app.menu5.domain.M5Sub1VO">
      /* com.ltop.app.menu5.mapper.M5Sub1Mapper.selectUserList */
      <![CDATA[
          SELECT R.*
           FROM
               (
                SELECT mem.userid   AS userId
                     , mem.userpw
                     , mem.username  AS userName
                     , mem.sex AS sexName
                     , mem.sleep_time AS sleepTime
                     , mem.position_time AS positionTime
                     , mem.enabled
                     , mem.birthday
                     , mem.mat_id    AS matId
                     , mem.height
                     , mem.weight
                     , mem.tel
                     , mem.reguserid AS reguserId
                     , mem.agency_no AS agencyNo
                     , (SELECT agency_name FROM tbl_agency WHERE agency_no = mem.agency_no) AS agencyName
                     , (SELECT adm_id FROM tbl_agency WHERE agency_no = mem.agency_no) AS admId
                     , auth.auth
                     , mem.regdate AS regDate
                     , mem.updatedate AS updateDate
                 FROM tbl_member mem
                 LEFT OUTER JOIN tbl_member_auth auth ON auth.userid = mem.userid
                                                         AND auth.auth = 'ROLE_USER'
                WHERE 1=1
            ]]>
                <if test="m5Sub1VO.searchUserName != null and m5Sub1VO.searchUserName != ''">
                  AND mem.username LIKE CONCAT('%',#{m5Sub1VO.searchUserName},'%')
                </if>

                <if test="m5Sub1VO.searchMatId != null and m5Sub1VO.searchMatId != ''">
                  AND mem.mat_id LIKE CONCAT('%',#{m5Sub1VO.searchMatId},'%')
                </if>

                <if test="m5Sub1VO.searchEnabled != null and m5Sub1VO.searchEnabled != ''">
                  AND mem.enabled = #{m5Sub1VO.searchEnabled}
                </if>

                <if test="m5Sub1VO.searchAgency != null and m5Sub1VO.searchAgency != ''">
                  AND mem.agency_no = #{m5Sub1VO.searchAgency}
                </if>
      <![CDATA[
            ) R
          WHERE 1=1
           AND (R.userId <> 'admin' OR R.auth <> 'ROLE_ADMIN')
          ORDER BY R.regdate DESC
          LIMIT #{pageVO.amount} OFFSET #{pageVO.startNum}
        ]]>
    </select>

    <select id="selectUserInfo" resultType="com.ltop.app.menu5.domain.M5Sub1VO">
        /* com.ltop.app.menu5.mapper.M5Sub1MapperselectUserInfo */
        SELECT mem.userid  AS userId
            , mem.username AS userName
            , mem.sex AS sexCd
            , CASE WHEN mem.sex = 'M' THEN
                    '남자'
                   WHEN mem.sex = 'F' THEN
                    '여자'
                   ELSE ''
               END AS sexName
            , mem.birthday
            , mem.tel
            , mem.height
            , mem.weight
            , sleep_time AS sleepTime
            , position_time AS positionTime
            , mem.enabled
            , CASE WHEN mem.enabled = 'Y' THEN
                       '사용'
                   ELSE
                       '미사용'
               END AS enabledName
            , mem.mat_id AS matId
            , mem.agency_no AS agencyNo
            , (SELECT agency_name FROM tbl_agency WHERE agency_no = mem.agency_no) AS agencyName
            , auth.auth
            , (SELECT seq FROM tbl_alarm WHERE userid = mem.userid ORDER BY seq DESC LIMIT 1) AS seq
        FROM tbl_member mem
        LEFT OUTER JOIN tbl_member_auth auth ON auth.userid = mem.userid
       WHERE 1=1
         AND mem.userid = #{userId}
    </select>

    <insert id="insertUser">
    INSERT INTO tbl_member
    (
        userid
       , userpw
       , username
       , sex
       , enabled
       , birthday
       , mat_id
       , height
       , weight
       , tel
       , sleep_time
       , position_time
       , reguserid
       , agency_no
       , regdate
       , updatedate
    )
    VALUES
    (
        #{userId}
      , #{userPw}
      , #{userName}
      , #{sexCd}
      , #{enabled}
      , #{birthday}
      , #{matId}
      , #{height}
      , #{weight}
      , #{tel}
      , #{sleepTime}
      , #{positionTime}
      , #{reguserId}
      , #{agencyNo}
      , NOW()
      , NOW()
    )
    </insert>

    <update id="updateUser">
     UPDATE	tbl_member
        SET	username = #{userName}
            <if test="userPw != null and userPw != '' ">
                , userpw = #{userPw}
            </if>
            , sex = #{sexCd}
            , enabled = #{enabled}
            , tel = #{tel}
            , birthday = #{birthday}
            , height = #{height}
            , weight = #{weight}
            , mat_id = #{matId}
            , agency_no = #{agencyNo}
            , sleep_time = #{sleepTime}
            , position_time = #{positionTime}
            , updatedate = NOW()
        WHERE userid = #{userId}
    </update>

    <delete id="deleteUser">
    DELETE FROM tbl_member WHERE userid = #{userId}
    </delete>

    <insert id="insertUserAuth">
    INSERT INTO tbl_member_auth
    (
      userid
      , auth
    )
    VALUES
    (
      #{userId}
      , #{auth}
    )
    </insert>

    <delete id="deleteUserAuth">
    DELETE FROM tbl_member_auth WHERE userid = #{userId}
    </delete>

    <select id="selectUserAlarmInfo" resultType="com.ltop.app.menu5.domain.M5Sub1VO">
        SELECT A.userid AS userId
		     , A.username AS userName
		     , B.seq
		     , IFNULL(B.tel, A.tel) AS tel
		     , B.use_yn AS useYn
		     , B.regdate AS regDate
		  FROM tbl_member A
		 LEFT OUTER JOIN tbl_alarm B ON B.userid = A.userid
		  WHERE 1=1
		    AND A.userid = #{userId}
		    <if test="seq != null and seq != '' ">
		        AND B.seq = #{seq}
		    </if>
		  ORDER BY B.seq DESC LIMIT 1
    </select>

    <select id="selectUserAlarmList" resultType="com.ltop.app.menu5.domain.M5Sub1VO">
        SELECT A.userid AS userId
             , B.username AS userName
             , A.seq
             , A.tel
             , A.use_yn AS useYn
             , A.regdate AS regDate
          FROM tbl_alarm A
         INNER JOIN tbl_member B ON B.userid = A.userid
          WHERE 1=1
            AND A.userid = #{userId}
           ORDER BY seq DESC
    </select>

    <insert id="insertUserAlarm">
        <selectKey keyProperty="seq" order="BEFORE" resultType="Integer">
            SELECT MAX(seq)+1 FROM tbl_alarm WHERE userid= #{userId}
        </selectKey>

        INSERT INTO tbl_alarm
            (  userid
			 , seq
			 , tel
			 , use_yn
			 , regdate
			 )
			 VALUES
             (
               #{userId}
              , IFNULL(#{seq},1)
              , #{tel}
              , #{useYn}
              , NOW()
             )
    </insert>

</mapper>
