<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltop.app.member.mapper.MemberMapper">

  <resultMap type="com.ltop.app.member.domain.MemberVO" id="memberMap">
    <id property="userId" column="userid"/>
    <result property="userId" column="userid"/>
    <result property="userPw" column="userpw"/>
    <result property="userName" column="username"/>
    <result property="regDate" column="regdate"/>
    <result property="updateDate" column="updatedate"/>
    <result property="auth" column="auth"/>
    <collection property="authList" resultMap="authMap"/>
  </resultMap>

  <resultMap type="com.ltop.app.member.domain.AuthVO" id="authMap">
    <result property="userId" column="userid"/>
    <result property="auth" column="auth"/>
  </resultMap>

  <resultMap type="com.ltop.app.member.domain.MemberVO" id="getMemberMap">
    <id property="userId" column="userid"/>
    <result property="userId"     column="userid"/>
    <result property="userPw"     column="userpw"/>
    <result property="userName"   column="username"/>
    <result property="regDate"    column="regdate"/>
    <result property="updateDate" column="updatedate"/>
    <result property="enabled"    column="enabled"/>
    <result property="birthday"   column="birthday"/>
    <result property="matId"     column="mat_id"/>
    <result property="height"     column="height"/>
    <result property="weight"     column="weight"/>
    <result property="tel"        column="tel"/>
    <result property="reguserId"  column="reguserid"/>
    <result property="agencyNo"  column="agency_no"/>
    <result property="sleepTime" column="sleep_time"/>
    <result property="positionTime" column="position_time"/>
    <result property="sex"          column="sex"/>
    <result property="positionUpdate" column="position_update"/>
    <result property="fallYn"      column="fall_yn"/>
    <result property="positionYn"  column="position_yn"/>
  </resultMap>


  <select id="selectMember" resultMap="memberMap">
    /* com.ltop.app.member.mapper.MemberMapper.selectMember */
    SELECT mem.userid
        , mem.userpw
        , mem.username
        , mem.regdate
        , mem.updatedate
        , mem.enabled
        , auth.auth
    FROM	tbl_member mem
    LEFT OUTER JOIN tbl_member_auth auth ON mem.userid = auth.userid
    WHERE 1=1
      AND mem.userid = #{userId}
      /*AND mem.userpw = */
  </select>

  <select id="selectMemberInfo" resultMap="memberMap" parameterType="com.ltop.app.member.domain.MemberVO">
    /* com.ltop.app.member.mapper.MemberMapper.selectMemberInfo */
    SELECT	mem.userid
        , mem.userpw
        , mem.username
        , mem.regdate
        , mem.updatedate
        , mem.enabled
        , DATE_FORMAT(NOW(), '%Y-%m-%d %h:%i') AS logintime
        , auth.auth
    FROM tbl_member mem
    LEFT OUTER JOIN tbl_member_auth auth
        ON mem.userid = auth.userid
    WHERE	mem.userid = #{userId}
  </select>

  <select id="selectMemberList" resultMap="memberMap">
    /* com.ltop.app.member.mapper.MemberMapper.selectMemberList */
    SELECT	mem.userid
        , mem.userpw
        , mem.username
        , mem.regdate
        , mem.updatedate
        , mem.enabled
        , auth.auth
    FROM	tbl_member mem
    LEFT OUTER JOIN tbl_member_auth auth
        ON mem.userid = auth.userid
    WHERE	1 = 1

        <if test="userId != null and userId != ''">
        AND mem.userid = #{userId}
        </if>
  </select>

  <insert id="insertMember">
    INSERT INTO tbl_member
    (
      userid
      , userpw
      , username
      , regdate
      , updatedate
      , enabled
      , birthday
    , height
    , weight
    , tel
    , sex
    )
    VALUES
    (
      #{userId}
      , #{userPw}
      , #{userName}
      , NOW()
      , NOW()
      , 'Y'
      , #{birthday}
      , #{height}
      , #{weight}
      , #{tel}
      , #{sexCd}
    )
  </insert>

  <update id="updateMember">
    UPDATE	tbl_member
    SET	userpw = #{userPw}
    <if test="userName != null and userName != ''">
      , username = #{userName}
    </if>
    <if test="enabled != null and enabled != ''">
      , enabled = #{enabled}
    </if>
      , updatedate = NOW()
    WHERE	userid = #{userId}
  </update>

  <delete id="deleteMember">
    DELETE FROM tbl_member WHERE userid = #{userId}
  </delete>

  <insert id="insertMemberAuth">
    INSERT INTO tbl_member_auth
    (
      userid
      , auth
    )
    VALUES
    (
      #{userId}
      , #{auth}
    )
  </insert>

  <update id="updateMemberAuth">
    UPDATE	tbl_member_auth
    SET		auth = #{auth}
    WHERE	userid = #{userId}
  </update>

  <delete id="deleteMemberAuth">
    DELETE FROM tbl_member_auth WHERE userid = #{userId}
  </delete>

  <!-- ID 중복체크 -->
  <select id="selectIdDupChk" resultType="int">
     SELECT COUNT(*)
       FROM tbl_member
      WHERE userid = #{userId}
  </select>

  <!-- 사용자 정보 제공 -->
  <select id="getUserInfo" parameterType="com.ltop.app.member.domain.MemberVO" resultType="com.ltop.app.member.domain.MemberVO">
      /* com.ltop.app.member.mapper.MemberMapper.getUserInfo */
      SELECT userid          AS userId
           /*, userpw        AS userPw*/
           , username        AS userName
           , DATE_FORMAT(regdate, '%Y-%m-%d %h:%i') AS regDate
           , DATE_FORMAT(updatedate, '%Y-%m-%d %h:%i') AS updateDate
           , enabled         AS enabled
           , birthday        AS birthday
           , mat_id          AS matId
           , height          AS height
           , weight          AS weight
           , tel             AS tel
           , reguserid       AS reguserId
           , agency_no       AS agencyNo
           , sleep_time      AS sleepTime
           , position_time   AS positionTime
           , sex             AS sex
           , DATE_FORMAT(position_update, '%Y-%m-%d %h:%i') AS positionUpdate
           , fall_yn         AS fallYn
           , position_yn     AS positionYn
       FROM tbl_member
      WHERE userid = #{userId}
  </select>

</mapper>
