<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltop.app.member.mapper.MemberMapper">

  <resultMap type="com.ltop.app.member.domain.MemberVO" id="memberMap">
    <id property="userId" column="userid"/>
    <result property="userId" column="userid"/>
    <result property="userPw" column="userpw"/>
    <result property="userName" column="username"/>
    <result property="regDate" column="regdate"/>
    <result property="updateDate" column="updatedate"/>
    <result property="auth" column="auth"/>
    <collection property="authList" resultMap="authMap"/>
  </resultMap>

  <resultMap type="com.ltop.app.member.domain.AuthVO" id="authMap">
    <result property="userId" column="userid"/>
    <result property="auth" column="auth"/>
  </resultMap>

  <select id="selectMember" resultMap="memberMap">
    /* com.ltop.app.member.mapper.MemberMapper.selectMember */
    SELECT mem.userid
        , mem.userpw
        , mem.username
        , mem.regdate
        , mem.updatedate
        , mem.enabled
        , auth.auth
    FROM	tbl_member mem
    LEFT OUTER JOIN tbl_member_auth auth ON mem.userid = auth.userid
    WHERE 1=1
      AND mem.userid = #{userId}
      /*AND mem.userpw = */
  </select>

  <select id="selectMemberInfo" resultMap="memberMap" parameterType="com.ltop.app.member.domain.MemberVO">
    /* com.ltop.app.member.mapper.MemberMapper.selectMemberInfo */
    SELECT	mem.userid
        , mem.userpw
        , mem.username
        , mem.regdate
        , mem.updatedate
        , mem.enabled
        , auth.auth
    FROM	tbl_member mem
    LEFT OUTER JOIN tbl_member_auth auth
        ON mem.userid = auth.userid
    WHERE	mem.userid = #{userId}
  </select>

  <select id="selectMemberList" resultMap="memberMap">
    /* com.ltop.app.member.mapper.MemberMapper.selectMemberList */
    SELECT	mem.userid
        , mem.userpw
        , mem.username
        , mem.regdate
        , mem.updatedate
        , mem.enabled
        , auth.auth
    FROM	tbl_member mem
    LEFT OUTER JOIN tbl_member_auth auth
        ON mem.userid = auth.userid
    WHERE	1 = 1

        <if test="userId != null and userId != ''">
        AND mem.userid = #{userId}
        </if>
  </select>

  <insert id="insertMember">
    INSERT INTO tbl_member
    (
      userid
      , userpw
      , username
      , regdate
      , updatedate
      , enabled
    )
    VALUES
    (
      #{userId}
      , #{userPw}
      , #{userName}
      , NOW()
      , NOW()
      , '1'
    )
  </insert>

  <update id="updateMember">
    UPDATE	tbl_member
    SET		userpw = #{userPw}
        , username = #{userName}
        , updatedate = NOW()
        , enabled = #{enabled}
    WHERE	userid = #{userId}
  </update>

  <delete id="deleteMember">
    DELETE FROM tbl_member WHERE userid = #{userId}
  </delete>

  <insert id="insertMemberAuth">
    INSERT INTO tbl_member_auth
    (
      userid
      , auth
    )
    VALUES
    (
      #{userId}
      , #{auth}
    )
  </insert>

  <update id="updateMemberAuth">
    UPDATE	tbl_member_auth
    SET		auth = #{auth}
    WHERE	userid = #{userId}
  </update>

  <delete id="deleteMemberAuth">
    DELETE FROM tbl_member_auth WHERE userid = #{userId}
  </delete>

</mapper>
