<!DOCTYPE html>
<html lang="en">

<head>

	<title>Gradient Able bootstrap admin template by codedthemes</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Codedthemes" />
	<!-- Favicon icon -->
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="assets/css/style.css">
	
	


</head>

<div class="auth-wrapper">
	<div class="blur-bg-images"></div>
	<!-- [ change-password ] start -->
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center">
				<div class="col-md-12">
					<div class="card-body">
						<div class="text-center">
							<img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
						</div>
						<h4 class="mb-4 f-w-400">Change your password</h4>
						<div class="input-group mb-2">
							<input type="password" class="form-control" placeholder="Current Password">
						</div>
						<div class="input-group mb-2">
							<input type="password" class="form-control" placeholder="New Password">
						</div>
						<div class="input-group mb-4">
							<input type="password" class="form-control" placeholder="Re-Type New Password">
						</div>
						<button class="btn btn-block btn-primary mb-4">Change password</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ change-password ] end -->
</div>

<!-- Required Js -->
<script src="assets/js/vendor-all.min.js"></script>
<script src="assets/js/plugins/bootstrap.min.js"></script>
<script src="assets/js/waves.min.js"></script>



</body>

</html>
